!!!
%html
  %head
    %title Cocoon Demo - Using Formtastic
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %h1 Cocoon Demo - Using Formtastic

    = yield
